# Compilation and build artifacts
target/
*.class
*.log
.idea/
*.iml
.settings/
.classpath
.project
.factorypath
.DS_Store

# Java package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# BlueJ and MTJ
*.ctxt
.mtj.tmp/

# Crash logs
hs_err_pid*
replay_pid*
